<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.moko.beaconxpro">

    <application
        android:name="com.moko.beaconxpro.BaseApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/LaunchActivityTheme">

        <activity android:name="com.moko.beaconxpro.activity.GuideActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.moko.beaconxpro.activity.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name="com.moko.beaconxpro.activity.AboutActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name="com.moko.beaconxpro.activity.DeviceInfoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.beaconxpro.activity.SlotDataActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.beaconxpro.activity.AxisDataActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.beaconxpro.activity.THDataActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.moko.beaconxpro.activity.ExportDataActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.moko.beaconxpro.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service android:name="com.moko.beaconxpro.service.MokoService" />
        <service android:name="com.moko.beaconxpro.service.DfuService" />

    </application>

</manifest>
